@import url('https://fonts.googleapis.com/css2?family=Kablammo&family=Lumanosimo&family=Montserrat+Alternates&family=Tajawal&display=swap');
.container .navbar-brand
{
    font-family: 'Lumanosimo', sans-serif;
    font-size: 2rem;
    letter-spacing: 5px;
}

ul li a
{
    font-family: 'Tajawal', sans-serif;
    font-size: 1.2rem;
}