/* You can add global styles to this file, and also import other style files */
::root{
  $linar-geadient:linear-gradient(45deg,rgba(0,150,220,1),rgba(0,150,220,0.3));
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  // background:$linar-geadient
 
}
